*.swp
data/
db/postgres-data
standard.xml
maxspeed.xml
signals.xml
electrification.xml
gauge.xml
*.mapcss
*.d
tmp
.kosmtik-config.yml
.env
*.osm.pbf
.idea
tiles
compose.override.yaml
localhost.pem
localhost-key.pem
