version: '2'
services:
  kosmtik:
    image: kosmtik:v1
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/openrailwaymap
    depends_on:
      - db
    ports:
      - "127.0.0.1:6789:6789"
    environment:
      - PGHOST=db
      - PGUSER=postgres
    command:
      # Edit this argument to render a different style
      - signals.mml

  db:
    image: db:v1
    build:
      context: .
      dockerfile: Dockerfile.db
    ports:
      - '5432:5432'
    volumes:
      - ./postgres-data:/var/lib/postgresql/postgres-data
    shm_size: 1g
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - PG_WORK_MEM
      - PG_MAINTENANCE_WORK_MEM
      - PGDATA=/var/lib/postgresql/postgres-data

  import:
    image: import:v1
    build:
      context: .
      dockerfile: Dockerfile.import
    volumes:
      - .:/openrailwaymap
    depends_on:
      - db
    environment:
      - PGHOST=db
      - PGUSER=postgres
      - PG_WORK_MEM
      - PG_MAINTENANCE_WORK_MEM
      - OSM2PGSQL_CACHE
      - OSM2PGSQL_NUMPROC
      - OSM2PGSQL_DATAFILE
      - EXTERNAL_DATA_SCRIPT_FLAGS

  martin-cp:
    image: ghcr.io/maplibre/martin
    entrypoint: []
    command: [
      'sh',
      '-c',
      # AT: --bbox=9.52678,46.36851,17.16273,48.90201
      # DE: --bbox=5.864417,47.26543,15.05078,55.14777
      # FI: --bbox=19.02427,59.28783,31.6159,70.09959
      # NL: --bbox=2.99,50.74753,7.230455,54.01786
      'martin-cp --config /config/configuration.yml --mbtiles-type normalized --min-zoom 0 --max-zoom 14 "--bbox=2.99,50.74753,7.230455,54.01786" --source railway_line,railway_signals,signal_boxes_point,signal_boxes_polygon,signal_boxes_text --output-file /tiles/tiles.mbtiles --on-duplicate override'
    ]
    volumes:
      - ./martin:/config
      - ./tiles:/tiles
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres@db:5432/gis

  martin:
    build:
      dockerfile: martin.Dockerfile
    depends_on:
      - db
    volumes:
      - ./martin:/config
    environment:
      - DATABASE_URL=postgresql://postgres@db:5432/gis

  martin-static:
    build:
      dockerfile: martin-static.Dockerfile

  martin-proxy:
    build:
      dockerfile: proxy.Dockerfile
    volumes:
      - ./proxy/index.html:/etc/nginx/public/index.html
    ports:
      - '8000:8000'
    environment:
      PROXY_UPSTREAM: martin:3000
      PUBLIC_PROTOCOL: http
      PUBLIC_HOST: localhost:8000
      NGINX_RESOLVER: '127.0.0.11 ipv6=off'
