html,
body {
  padding: 0;
  margin: 0;
}

#map-container {
  width: 100vw;
  height: 100vh;
}
#map {
  position: relative;
  width: 100%;
  height: 100%;
}

#search-backdrop {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(3px);
}
#cancel-search {
  margin: 20px;
  padding: 0.4rem;
  border: 2px solid rgba(255, 255, 255, .6);
  border-radius: 4px;
  cursor: pointer;
}
.search-container {
  position: absolute;
  z-index: 101;
  background: transparent;
  width: 400px;
  max-width: 90%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 15vh;
}
.search-container input[type=search] {
  padding: 6px;
  font-family: sans-serif;
  width: 14rem;
}
.search-container .input-group-append {
  background-color: white;
}
#search-results {
  display: none;
  background-color: white;
  padding: .3rem 0;
  max-height: 300px;
  overflow-y: auto;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
#search-results .result {
  border-bottom: 1px solid #eee;
  padding: 0 .5rem;
  cursor: pointer;
}
#search-results .result:nth-child(2n) {
  background: #f8f8f8;
}
#search-results .result:hover, #search-results .result:nth-child(2n):hover {
  background: #eee;
}
.search-container .search-icon {
  position: absolute;
  top: 12px;
  right: 14px;
  z-index: 30;
  cursor: pointer;
}
.search-container #cancel-icon {
  display: none;
}

#legend {
  position: absolute;
  display: none;
  left: 10px;
  bottom: 40px;
  z-index: 10;

  height: 400px;
  width: 300px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, .1);
  overflow-y: auto;
}
#legend-map {
  width: 100%;
  height: 1400px;
}

.maplibregl-ctrl-style {
  font-size: 1rem;
  padding: .5rem;
}
.maplibregl-ctrl-style .form-check.form-check-inline label {
  cursor: pointer;
}
.maplibregl-ctrl-style .form-check.form-check-inline:last-child {
  margin-right: 0;
}
button.maplibregl-ctrl-edit {
  padding: 2px;
}
.maplibregl-ctrl-edit .maplibregl-ctrl-icon {
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.1213 2.70705C19.9497 1.53548 18.0503 1.53547 16.8787 2.70705L15.1989 4.38685L7.29289 12.2928C7.16473 12.421 7.07382 12.5816 7.02986 12.7574L6.02986 16.7574C5.94466 17.0982 6.04451 17.4587 6.29289 17.707C6.54127 17.9554 6.90176 18.0553 7.24254 17.9701L11.2425 16.9701C11.4184 16.9261 11.5789 16.8352 11.7071 16.707L19.5556 8.85857L21.2929 7.12126C22.4645 5.94969 22.4645 4.05019 21.2929 2.87862L21.1213 2.70705ZM18.2929 4.12126C18.6834 3.73074 19.3166 3.73074 19.7071 4.12126L19.8787 4.29283C20.2692 4.68336 20.2692 5.31653 19.8787 5.70705L18.8622 6.72357L17.3068 5.10738L18.2929 4.12126ZM15.8923 6.52185L17.4477 8.13804L10.4888 15.097L8.37437 15.6256L8.90296 13.5112L15.8923 6.52185ZM4 7.99994C4 7.44766 4.44772 6.99994 5 6.99994H10C10.5523 6.99994 11 6.55223 11 5.99994C11 5.44766 10.5523 4.99994 10 4.99994H5C3.34315 4.99994 2 6.34309 2 7.99994V18.9999C2 20.6568 3.34315 21.9999 5 21.9999H16C17.6569 21.9999 19 20.6568 19 18.9999V13.9999C19 13.4477 18.5523 12.9999 18 12.9999C17.4477 12.9999 17 13.4477 17 13.9999V18.9999C17 19.5522 16.5523 19.9999 16 19.9999H5C4.44772 19.9999 4 19.5522 4 18.9999V7.99994Z' fill='%23000000'/%3E%3C/svg%3E");
}
button.maplibregl-ctrl-search {
  padding: 4px;
}
.maplibregl-ctrl-search .maplibregl-ctrl-icon {
  background-size: contain;
  background-image: url("data:image/svg+xml,%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9536 14.9458L21 21M17 10C17 13.866 13.866 17 10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10Z' stroke='%23000000' stroke-width='2.7' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.maplibregl-ctrl-group button.maplibregl-ctrl-legend {
  padding: 4px;
  width: auto;
}
.maplibregl-ctrl-group button.maplibregl-ctrl-legend .maplibregl-ctrl-icon {
  background-size: contain;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg fill='%23000000' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52' enable-background='new 0 0 52 52' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M26.7,42.8c0.8,0,1.5,0.7,1.5,1.5v3.2c0,0.8-0.7,1.5-1.5,1.5h-3.2c-0.8,0-1.5-0.7-1.5-1.5v-3.2 c0-0.8,0.7-1.5,1.5-1.5H26.7z'/%3E%3Cpath d='M28.2,35.1c0-2.1,1.3-4,3.1-4.8h0.1c5.2-2.1,8.8-7.2,8.8-13.2c0-7.8-6.4-14.2-14.2-14.2 c-7.2,0-13.2,5.3-14.2,12.2v0.1c-0.1,0.9,0.6,1.6,1.5,1.6h3.2c0.8,0,1.4-0.5,1.5-1.1v-0.2c0.7-3.7,4-6.5,7.9-6.5 c4.5,0,8.1,3.6,8.1,8.1c0,2.1-0.8,4-2.1,5.5l-0.1,0.1c-0.9,1-2.1,1.6-3.3,2c-4,1.4-6.7,5.2-6.7,9.4v1.5c0,0.8,0.6,1.4,1.4,1.4h3.2 c0.8,0,1.6-0.6,1.6-1.5L28.2,35.1z'/%3E%3C/g%3E%3C/svg%3E");
  background-position-x: left;
}
.maplibregl-ctrl-group button.maplibregl-ctrl-legend .maplibregl-ctrl-icon span {
  margin-left: 1.5rem;
  font-size: 16px;
}